
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1, p, a, button, h2, h3{
  font-family: var(--font-kumbh);

}
body{
  background-color: #374151;
}
html{
    scroll-behavior: smooth;
  
    
}
:root {
  --bodyColor: "#000000";

}

::-webkit-scrollbar {
    background: #bebebe;
    height: 12px;
    width: 12px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: content-box currentColor;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #194c9d;
    min-height: 48px;
    min-width: 48px;
    cursor: pointer; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #113774; 
    transition: background-color 0.2s ease-in-out; 
  }
  
 
  ::-webkit-scrollbar-thumb:active {
    background-color: #0f2d5f;
    transition: background-color 0.1s ease-in;
  }
  
.overflow-hidden{
    overflow: hidden;
}

  

  

.slider{
  margin: auto;
  display: grid;
  place-items: center;
}

.slide-track{
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
  
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9));
  
  }
}
.slide{
  display: flex;
  align-items: center;
}


.animate-none {
  animation-play-state: paused;
}
button[aria-label="close"] {
color: white;
}
.gradient{
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=7b8da7&c2=4e6389&gt=r&gd=dtl
*/
background: #7B8DA7;
background: radial-gradient(at left top, #7B8DA7, #4E6389);
}

