
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  
      


      background-image: linear-gradient(
        to bottom,
        #343a41 0%,  
        #2c3136 20%,
        #282d32 40%,
        #21252a 60%,
        #282c31 80%,
        #343a41 100%  
      );
      

}
h1, p, a, button, h2, h3{
    font-family: "Kumbh Sans", sans-serif;

}
html{
    scroll-behavior: smooth;
  
    
}

::-webkit-scrollbar {
    background: #bebebe;
    height: 12px;
    width: 12px;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: content-box currentColor;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #194c9d;
    min-height: 48px;
    min-width: 48px;
    cursor: pointer; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #113774; 
    transition: background-color 0.2s ease-in-out; 
  }
  
 
  ::-webkit-scrollbar-thumb:active {
    background-color: #0f2d5f;
    transition: background-color 0.1s ease-in;
  }
  
.overflow-hidden{
    overflow: hidden;
}

  

  

  